{{#each this}}
<li class="gallery-movie-item">
    <img class="movie-card-img" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}" loading="lazy" />
    <h3 class="movie-card-title">{{original_title}}</h3>
    <div class="movie-card-info">
        <p class="movie-card-genre">{{genres_ids}}</p>
        <p class="movie-card-release-year">{{release_date}}</p>
        {{#if vote_average}}
        <p class="movie-card-vote is-visible">{{vote_average}}</p>
        {{/if}}
    </div>
</li>
{{/each}}