<div class="modal-btn__icon"></div>
<img class="modal-img modal-box-card" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}" />
<div class="modal-box-card">
    <h2 class="modal-title">{{original_title}}</h2>
    <p class="modal-card-item">
        Vote / Votes <span class="card-item-vote">{{vote_average}}</span> /
        <span class="card-item-vote-count">{{vote_count}}</span>
    </p>
    <p class="modal-card-item">
        Popularity
        <span class="card-item-popularity">{{popularity}}</span>
    </p>
    <p class="modal-card-item">
        Original Title<span class="card-item-char">{{original_title}}</span>
    </p>
    <p class="modal-card-item">
        Genre<span class="card-item-genre">{{genres}}</span>
    </p>
    <h3 class="modal-about-title">About</h3>
    <p class="modal-text">
        {{overview}}
    </p>
    <div class="div">
        <button class="button-left-side modal-button">add to Watched</button>
        <button class="button-right-side modal-button">add to queue</button>
    </div>
</div>